body,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
}

body {
  background-image: url("imgs/starrybg.png");
  color: #023173;
}

h1 {
  font-size: 100px;
}

.header {
  padding: 20px 20px;
}

.cart-container {
  background-color: white;
  min-width: 250px;
  width: 22%;
  height: 20rem;
  margin: 3rem 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0px 1px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.filter-header {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: white;
  min-width: 250px;
  width: 22%;
  height: 20rem;
  margin: 3rem 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0px 1px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.card-img {
  width: 150px;
}

@media screen and (max-width: 600px) {
  .container {
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.1);
}

.buy-button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(
    92.88deg,
    rgb(69, 94, 181) 9.16%,
    rgb(86, 67, 204) 43.89%,
    rgb(103, 63, 215) 64.72%
  );
  transition: all 0.5s ease 0s;
  :hover {
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
  }
}

.header {
  color: white;
}
